#navbar
{
  position: relative;
}

#navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar ul li
{
    float: left;
}

#navbar ul li a
{
    display: block;
    color: white;
    border-radius: 5px 5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logout{
    position: absolute;
    right: 0px;
}

.button{
    background-color: blue;
    color: white;
    border: none;
    height: 25px;
    width: 100px;
    font-weight: bold;
}

.mail{
    color: black;
    width: 500px;
    background-color: #7ca6ea;
    border-radius: 10px;
}

.showbutton{
    background-color: blue;
    color: white;
    border: none;
    width: 100px;
    font-weight: bold;
}

.unread{
    font-weight: bold;
}

.read{
    font-weight: normal;
}

.hide{
    display: none;
}

label {
  display: block;
  font-weight: bold;
  border-radius: 10px;
}

input {
   border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.button {
    background: linear-gradient(#1f38b7, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 8px 16px;
}