#navbar
{
  position: relative;
}

#navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar ul li
{
    float: left;
}

#navbar ul li a
{
    display: block;
    color: white;
    border-radius: 5px 5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button{
    background-color: blue;
    color: white;
    border: none;
    height: 25px;
    width: 100px;
    font-weight: bold;
}